<%-include('header.ejs')%>
    
    <h2>문의 목록입니다.</h2>

    <table border=1>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>phone</th>
            <th>email</th>
            <th>content</th> 
            <th>create_at</th> 
            <th>modify_at</th> 
            <th>status</th> 
            <th>DONE</th>
            <th>DELETE</th> 
        </tr>
        <% lists.forEach(function(item) { %>
        <tr>
            <td><%=item.id%></td>
            <td><%=item.name%></td>
            <td><%=item.phone%></td>
            <td><%=item.email%></td>
            <td><%=item.memo%></td>
            <td><%=item.create_at%></td>
            <td><%=item.modify_at%></td>
            <td><%=item.status%></td>
            <td>
                <form action="/api/contactUpdate/<%=item.id%>" method="post">
                    <button type="submit" onclick="return confirm('완료 하시겠습니까?')">UPDATE</button>
                </form>
            </td>
            <td>
                <form action="/api/contactDelete/<%=item.id%>" method="post">
                    <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">DELETE</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>

<%-include('footer.ejs')%>